
body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: lightblue
}


nav {
    background-color: yellow;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



nav ul li a {
    color: blue;
    padding: 15px 20px;
    font-size: 20px;
    display: block;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: pink
}

.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
}
main#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}
.centered-content {
    margin: 20px 0;
}

.more-info {
    font-size: 24px;
    color: brown;
    margin: 20px 0; 
}